@font-face {
  font-family: kongtext;
  src: url(./assets/fonts/kongtext.ttf);
}

body {
  margin: 0;
  font-family: kongtext;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
